In [1]:
import pandas as pd

data = pd.read_csv("spg.csv")
print(data.columns)

Index(['temperature_2_m_above_gnd', 'relative_humidity_2_m_above_gnd',
       'mean_sea_level_pressure_MSL', 'total_precipitation_sfc',
       'snowfall_amount_sfc', 'total_cloud_cover_sfc',
       'high_cloud_cover_high_cld_lay', 'medium_cloud_cover_mid_cld_lay',
       'low_cloud_cover_low_cld_lay', 'shortwave_radiation_backwards_sfc',
       'wind_speed_10_m_above_gnd', 'wind_direction_10_m_above_gnd',
       'wind_speed_80_m_above_gnd', 'wind_direction_80_m_above_gnd',
       'wind_speed_900_mb', 'wind_direction_900_mb',
       'wind_gust_10_m_above_gnd', 'angle_of_incidence', 'zenith', 'azimuth',
       'generated_power_kw'],
      dtype='str')

In [2]:
# Retain only required columns
data = data[['total_cloud_cover_sfc',
             'shortwave_radiation_backwards_sfc',
             'generated_power_kw']]

# Check first 5 rows
data.head()

,total_cloud_cover_sfc,shortwave_radiation_backwards_sfc,generated_power_kw
0,0.0,0.00,454.10095
1,0.0,1.78,1411.99940
2,0.0,108.58,2214.84930
3,0.0,258.10,2527.60920
4,0.0,375.58,2640.20340

In [3]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 4213 entries, 0 to 4212
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   total_cloud_cover_sfc              4213 non-null   float64
 1   shortwave_radiation_backwards_sfc  4213 non-null   float64
 2   generated_power_kw                 4213 non-null   float64
dtypes: float64(3)
memory usage: 98.9 KB

In [4]:
data.describe()

,total_cloud_cover_sfc,shortwave_radiation_backwards_sfc,generated_power_kw
count,4213.000000,4213.000000,4213.000000
mean,34.056990,387.759036,1134.347313
std,42.843638,278.459293,937.957247
min,0.000000,0.000000,0.000595
25%,0.000000,142.400000,231.700450
50%,8.700000,381.810000,971.642650
75%,100.000000,599.860000,2020.966700
max,100.000000,952.300000,3056.794100

In [5]:
data.isnull().sum()

total_cloud_cover_sfc                0
shortwave_radiation_backwards_sfc    0
generated_power_kw                   0
dtype: int64

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 4213 entries, 0 to 4212
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   total_cloud_cover_sfc              4213 non-null   float64
 1   shortwave_radiation_backwards_sfc  4213 non-null   float64
 2   generated_power_kw                 4213 non-null   float64
dtypes: float64(3)
memory usage: 98.9 KB

In [8]:
data.describe()

,total_cloud_cover_sfc,shortwave_radiation_backwards_sfc,generated_power_kw
count,4213.000000,4213.000000,4213.000000
mean,34.056990,387.759036,1134.347313
std,42.843638,278.459293,937.957247
min,0.000000,0.000000,0.000595
25%,0.000000,142.400000,231.700450
50%,8.700000,381.810000,971.642650
75%,100.000000,599.860000,2020.966700
max,100.000000,952.300000,3056.794100

In [ ]:
data.to_csv("cleaned_solar_dataset.csv", index=False)